@import 'constants';

$primaryColor: #F5F5F5;

body {
  $primaryColor: #FFFFFF !global;
  background: $primaryColor;
}

p {
  color: $accent-color;
}

// When compiled, our paragraph selector's color is #ccc