<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap Grunt Teste</title>

    <!-- CSS gerado pelo grunt com o bootstrap e fontawesome -->
    <link href="assets/css/library.min.css" rel="stylesheet">
    <link href="http://code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css" rel="stylesheet">
     <link href="assets/css/app.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <h1>Hello, world!</h1>
          <p><strong>Primeira aplicação usando o bootstrap junto com o bower.</strong></p>
          <table class="table">
            <caption>Optional table caption.</caption>
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="row fontawesome-icon-list">
        <div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-bed"></i> bed</div>
        <div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-buysellads"></i> buysellads</div>
        <div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-cart-arrow-down"></i> cart-arrow-down</div>
        <div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-cart-plus"></i> cart-plus</div>
        <div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-connectdevelop"></i> connectdevelop</div>
        <div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-dashcube"></i> dashcube</div>
        <div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-diamond"></i> diamond</div>
        <div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-facebook-official"></i> facebook-official</div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <br>
          <button type="button" class="btn btn-lg btn-danger btn-popover" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
          <br>
          <p><a class="print">Imprimir</a></p>
          <br><br>
          <p>Date: <input type="text" id="datepicker"></p>

          <br><br>
            <div ng-app>
              <p>Testando o funcionamento da angular junto com os outros:<input type="text" ng-model="sometext">
              <strong>Hello {{ sometext }}</strong></p>
            </div>
        </div>
      </div>

    </div>

    <!-- todos os arquivos compactados pelo grunt -->
    <script src="assets/js/library.min.js"></script>
    <script src="assets/js/app.min.js"></script>
  </body>
</html>